#campaign {
    h2 {
        padding: 0 0 60px 0;
    }

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 36px;
        /* or 138% */
        text-align: center;
        color: #333333;
        padding: 0 0 105px 0;
      }

      h3{
        padding: 20px 0;
      }
      
}