#hero-aboutus {

    .hero {
        
        @media (min-width: 992px) { 
            display: flex;
            justify-content: center;
            align-items: center;
            height: 364px;
            width: 100%;
            margin: 50px 0 50px 0;
            background-image: url('../img/aboutushero.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            h1 {
                text-align: center;
            }
        }
    }

    h1{
        // padding-top: 150px;
        @media (max-width: 992px) { 
           padding: 60px 0 60px 0;
        }
    }
}

#whatare{
    h2 {
        color: #9B3926;
        font-family: "gelica", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
        line-height: 77px;
    }

    p{
        padding-left: 10px;
        font-size: 26px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
        margin-right: 20px;
    }
    ul{
        padding: 10px 0 0 80px;
        font-size: 26px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
    }
    .btn {
        height: 79px;
        width: 482px;
        border-radius: 15px;
        border-color: #F79721;
        background: #F79721;
        margin-top: 48px;
        color: #213A45;
        font-weight: bold;
        padding-top: 19px;
        font-size: 26px;
    }
    .btn:hover {
        color: #fff;
        background-color: #9B3926;
    }
    @media (max-width: 992px) { 
        img{
            padding: 80px 0 0 180px;
        }
        .btn {
            margin: 50px 0 0 200px;
        }
        
    }
    @media (max-width: 576px) { 
        h2{
            font-size: 60px;
        }
        p{
            font-family: "interstate", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            font-size: 26px;
            line-height: 36px;
            padding: 20px 0 0 0;
        }
        .btn{
            height: 110px;
            width: 365px;
            margin: 50px 0 50px 0;
            @media (max-width: 576px) { 
                transform: translateX(10%);
                max-width: 365px;
                height: auto;
                margin: 50px 0 50px 0;
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
        ul{
            padding: 0 0 0 50px;
            line-height: 36px;
        }
        img{
            padding: 0 0 0 0;
        }
    }
    
}

#aboutthecampaign {
    padding: 140px 50px 0 0;

    .rockydisappearsonmobile {
        @media (max-width: 992px) { 
            display: none;
        }    
    }
    .rockydisappearsondesktop {
        @media (min-width: 992px) { 
            display: none;
        }    
    }

    @media (max-width: 992px) { 
            padding: 0;
        }

    h2 {
        color: #9B3926;
        font-family: "gelica", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
        line-height: 77px;
    }
 
    p{
        padding-left: 10px;
        font-size: 26px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
        margin-right: 20px;
    }
    ul{
        padding: 10px 0 0 80px;
        font-size: 26px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
    }

    @media (max-width: 992px) { 
        img{
            padding: 50px 0 0 30px;
        }
        h2{
            font-size: 60px;
            padding: 80px 0 0 0;
        }

    }
    @media (max-width: 576px) { 
        h2{
            font-size: 60px;
            padding: 80px 0 0 0;
        }
        p{
            font-family: "interstate", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            font-size: 26px;
            line-height: 36px;
            padding: 20px 0 0 0;
        }
        .btn{
            height: 110px;
            width: 365px;
            margin: 50px 0 50px 0;
        }
        ul{
            padding: 35px 0 0 50px;
            line-height: 36px;
        }
        img{
            padding: 50px 0 0 0;
            max-width: 350px;
        }
    }
    
}


#logoabout {
    padding: 40px 0 186px 0;
    @media (max-width: 576px) { 
        padding: 40px 0 80px 0;
    }
    .row {
        padding: 107px 0 0 0;
        ;
    }
    .blm-logo{
        padding-top: 20px;
    }
    .clfc-logo{
        padding-top: 10px;
    }
    h3{
        font-size: 28px;
        font-weight:bold;
        line-height: 60px;
        font-family: 'Inter', sans-serif;
        padding-left: 50px;
    }
    p{
        font-size: 28px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
        padding-left: 50px;
    }
    @media (max-width: 992px) { 
        .blm-logo{
            max-width: 136px;
            margin-left: 50px;
            padding-bottom: 50px;
        }
        .clfc-logo{
            max-width: 400px;
            padding: 0 0 50px 53px;
        }
        h3{
            line-height: 34px;
            padding: 0 20px 0 30px;
            text-align: left;
        }
        p{
            font-size: 26px;
            font-weight:400;
            line-height: 32px;
            font-family: 'Inter', sans-serif;
            padding: 0 20px 0 20px;
        }        
    }
    @media (max-width: 576px) { 
        .blm-logo{
            max-width: 150px;
            margin-left: 140px;
            padding: 0 0 30px 0;
        }
        .clfc-logo{
            max-width: 350px;
            padding: 10px 0 30px 10px;
        }
        h3{
            line-height: 34px;
            padding: 0 20px 0 10px;
            text-align: center;
        }
        p{
            font-family: "interstate", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: center;
            font-size: 26px;
            line-height: 36px;
            padding: 20px 0 0 0;
        }        
    }
}
#instagram-embed{
    padding: 0 0 80px 0;

    p {
        color: #333333;
        font-family: Interstate;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        
        span {
            color: #9B3926;
        }
    }
    .about-wave {
        max-width: 200px;
        height: auto;  
        padding: 0 0 95px 0;
    }

}


