#contact-form {
    .container {
      display: flex;
      justify-content: center;
    }
    .left {
      background-color: red;
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }
    .right {
      background-color: blue;
      width: 100px;
      height: 100px;
      margin-left: 10px;
    }
}