header, #footer {
  background-color: #fff;
}
.background {
  background-image: url("../img/background-body.png");
  background-repeat: repeat;
}
p#hero {
  font-size: 24px;
}

.logo {
    max-width: 281px;
    height: auto;
    @media (min-width: 992px) { 
      padding-top: 22px;
    }
  }

.navbar {
    display: block;
    height: 200px;
    @media (max-width: 992px) { 
      padding: 28px 0 0 0;
    }
}
.navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    @media (min-width: 992px) { 
      padding-top: 25px;
    }
    @media (max-width: 992px) { 
      background-image: url("../img/background-body.png");
      background-repeat: repeat; 
      margin-top: 24px;
      border: 5px solid #C34F30;
    }
}

.navbar-nav .nav-link {
  display: block;
  font-style: normal;
  font-weight: bold;
  color: #9B3926;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  margin-left: 15px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}
@media (min-width: 992px) { 
  .nav-link:hover {
      border-color:#F79721;
    } 
} 
.current {
    border-color:#F79721 !important;
} 

.line {
  position: relative;
  width: 100%;
  height: 3px;
  border: 3px solid #C34F30;
  transform: rotate(180deg);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-md {
  max-width: 1274px;
  margin: 0 auto;
}

i {
  font-size: 24px;
  color: #000;
}

.font-style-normal {
  font-style: normal;
}

.font-weight-400 {
  font-weight: 400;
}

.font-size-26 {
  font-size: 26px;
}

#video iframe {
  width: 100%;
  min-height: 500px;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  
h1 {
      font-family: "gelica", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 75px;
      line-height: 89px;
      text-align: center;
      color: #9B3926;
}

h2 {
    font-family: "gelica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 65px;
    line-height: 77px;
    color: #9B3926;
  }
}    

.vertical-spacer-sm {
  padding: 60px 0 0 0;
}

.vertical-spacer-md {
  padding: 80px 0 0 0;
}

.vertical-spacer-lg {
  padding: 100px 0 0 0;
}