#hero {

    padding: 176px 0 0 0;

    h1 {
        font-family: "gelica", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 75px;
        line-height: 89px;
        text-align: center;
        color: #9B3926; 
    }

    h2 {
      font-family: "gelica", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 65px;
      line-height: 77px;
      text-align: center;
      color: #9B3926;
    }
    
    p {
        font-family: "interstate", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 60px 0 80px 0;
        text-align: center;
        font-size: 26px; 
    }
    
    img {
        width: 200px;
        margin: auto;
        position: relative;
    }

    .line-height-333333 {
        line-height: 33.3333px;
    }
      
    .btn {
        color: #000; /* added to set text color to black */
        height: 79px;
        width: 274px;
        position: relative; /* changed from absolute to relative */
        left: 50%;
        transform: translateX(-50%); /* added to center align the button */
        border-radius: 15px;
        border: none;
        background-color: #F79721;
        font-size: 26px;
        font-family: "interstate", sans-serif;
        font-weight: 700;
        font-style: normal;
        cursor: pointer;
        padding-top: 19px;
        }

    .btn:hover {
        color: #fff;
        background-color: #9B3926;
    }

}

#video {
       padding: 18px 0 98px 0; 
    img:hover {
        opacity: 80%;
    }
}
