#resources {

    h1 {
        padding: 50px 0;
        font-size: 65px;
        @media (min-width: 992px) { 
            padding: 100px 0 60px 0;
            text-align: center;
        }

    }

    p {
        font-family: "interstate", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 26px;
        line-height: 36px;
        /* or 138% */
        text-align: center;
        color: #333333;
        padding: 0 0 105px 0;
    }

    h3 {
        padding: 20px 0;
    }

    @media (max-width: 576px) { 
        img {
            margin-bottom: 50px;
        }
    }
    img:hover{
        opacity: 50%;
    }

    p {
        font-size: 26px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
    }
    h3 {
        font-family: "interstate", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }

}


.resourceslink {
    padding-top: 48px;
    display: block;
    text-align: center;
    font-family: "interstate", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #213A45;
    text-decoration: none;
    img{
        padding-bottom: 6px;
    }
}

.boxedtext{
    padding: 15px;
    position: absolute;
    bottom: 0;

    &.bg {
        border-radius: 25px;
        background-color:#406F84;
        position: absolute;
        height: 107px;
        width: 100%;
        opacity: 90%;
        text-align: center;
        @media (max-width: 992px) {
            border-radius: 15px;
        }
    }

    a {
        font-family: "interstate", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-decoration-line: underline;
        color: #FEFBEA;
    }
    

    @media (max-width: 992px){
        padding-top: 25px;
    }
}
@media (max-width: 576px) {   
    .col-md-4{
        margin: 0 0 40px 0;
    }
}

@media (max-width: 576px) {   
    p{
        padding-left: 0;
    }
    h2{
        text-align: center;
        padding-left: 0;
        padding-bottom: 30px;
    }  
} 
@media (max-width: 992px) {
    p{
        margin-left: 15px;
    }
    h2{
        margin-left: 15px;
    }

}  

h2 {
    font-family: "gelica", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    line-height: 77px;
}

#respect {

    h2 {
        color:#598863;
    }
}

#connect {
    h2 {
        color:#304C44;
    }
}

#protect {
    h2 {
        color:#406F84;
    }
}

// @media (max-width: 992px) { 
//     .connecticon{
//         padding: 80px 0 0 0;
//     }
//     .protecticon {
//         padding: 80px 0 0 0;
//     }
//     .respecticon{
//         margin: 80px 0 0 0;
//     }

// }
// @media (max-width: 576px) {   
//     .connecticon{
//         padding: 0 0 0 66px;
//     }
//     .protecticon {
//         padding: 0 0 0 66px;
//     }
//     .respecticon{
//         padding: 0 0 0 66px;
//     }
// }

