#resources {
    padding: 115px 0 62px 0;

    h2 {
    padding: 0 0 60px 0;
}

p {
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    line-height: 36px;
    /* or 138% */
    text-align: center;
    color: #333333;
    padding: 0 0 105px 0;
  }

  h3{
    padding: 20px 0;
  }
  
}

#respect {
    padding: 40px 0 0 0;
    .row {
    padding: 107px 0 0 0;
    ;
    }
    .blm-logo{
        max-width: 291px;
        padding-top: 20px;
    }
    .clfc-logo{
        max-width: 396px;
        padding-top: 10px;
    }
    h2{
        font-size: 55px;
        font-weight: 700;
        line-height: 65px;
        padding-left: 50px;
        color:#598863;
        text-align: left;
    }
    p{
        font-size: 28px;
        font-weight:400;
        line-height: 36px;
        font-family: 'Inter', sans-serif;
        padding-left: 50px;
    }
}

#respect2 {
        padding: 0 0 100px 0;
    .bg {
        border-radius: 25px;
        background-color:#406F84;
        position: absolute;
        height: 107px;
        width: 100%;
        opacity: 90%;
    }
    h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        padding: 0 0 50px 20px;
    }
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        text-decoration-line: underline;
        color: #FEFBEA;
        padding: 0 70px 0 70px;
    }
    .resourceslink {
        padding-top: 48px;
        display: block;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #213A45;
        text-decoration: none;
    }    
}
